/* Overrides */
:root {
  --bulma-primary-h: 66deg;
  --bulma-primary-s: 70%;
  --bulma-primary-l: 54%;
  --bulma-link-h: 122deg;
  --bulma-link-s: 39%;
  --bulma-link-l: 49%;
  --bulma-danger-h: 10deg;
}

/* Dark mode adjustments using prefers-color-scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --bulma-shadow: 0 0 1em -0.125em hsla(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l), 0.5),
      0 0px 0 1px
        hsla(
          var(--bulma-primary-h),
          var(--bulma-primary-s),
          var(--bulma-primary-l),
          0.1
        );
  }
}

:root {
  --hyper-radius-multiplier: 3;
  --bulma-radius-small: calc(0.25rem * var(--hyper-radius-multiplier));
  --bulma-radius: calc(0.375rem * var(--hyper-radius-multiplier));
  --bulma-radius-medium: calc(0.5em * var(--hyper-radius-multiplier));
  --bulma-radius-large: calc(0.75rem * var(--hyper-radius-multiplier));
  --bulma-radius-rounded: 9999px;
  --swal2-border-radius: calc(
    var(--bulma-radius-small) * var(--hyper-radius-multiplier)
  ) !important;
}

/* Overrides */
.navbar-dropdown .navbar-item:not(.is-active, .is-selected) {
  background-color: transparent;
}
.modal-card-head {
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .container.is-fluid {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

div.dt-buttons.field.is-grouped {
  display: flex !important;
  flex-wrap: wrap;
}

div.dt-button-collection .dt-button {
  border-radius: var(--bulma-radius) !important;
}

table.dataTable.fixedHeader-floating,
table.dataTable.fixedHeader-locked {
  background-color: var(--bulma-table-background-color) !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
  border-left-color: var(--bulma-primary) !important;
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.dtr-expanded
  > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.dtr-expanded
  > th.dtr-control:before {
  border-top-color: var(--bulma-scheme-main) !important;
  border-left-color: transparent !important;
}

.tox .tox-statusbar__branding {
  /* Remove branding from tinyMCE statusbar */
  display: none;
}

@media screen and (max-width: 767px) {
  /* Adjust the layout of the search input in mobile view */
  div.dt-container
    > div.columns:not(.dt-layout-table)
    > div.column:has(.dt-search) {
    display: flex !important;
    text-align: start;
    flex-wrap: wrap;
    gap: var(--bulma-column-gap);
  }

  /* Remove the margin-left from the search input in mobile view */
  div.dt-container div.dt-search input {
    margin-left: 0 !important;
    width: 100% !important;
  }
}

.truncate-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  line-clamp: 2; /* Standard property for compatibility */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
